# Node
node_modules/
npm-debug.log*

# Python
__pycache__/
*.pyc
.venv/

# Variables de entorno (nunca subir credenciales reales)
.env
.env.test
.env.local

# Flutter / Dart
mobile-app/.dart_tool/
mobile-app/.flutter-plugins
mobile-app/.flutter-plugins-dependencies
mobile-app/build/
mobile-app/.idea/

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
*.iml
